@font-face {
    font-family: openSans;
    src: url(open-sans/OpenSans-Light.ttf);
    src: url(open-sans/OpenSans-Light-webfont.eot);
    src: url(open-sans/OpenSans-Light-webfont.woff);
}

li {
    list-style-type: none;
    text-align: left;
}

.lines {
    background-color: #FFD358;
    text-align: center;
}

.checkbox-lines {
    width: 15px;
    height: 15px;
}

.checkbox {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.checkbox-button {
    margin-top: 25px;
}

.checkbox-label {
    font-family: openSans;
    font-size: 16px;
    line-height: 38px;
}

.combobox {
    background-color: #FFD358;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

select {
    margin: auto;
    display: block;
    width: 192px;
    height: 28px;
    font-size: 18px;
}

.combobox-button {
    margin-top: 120px;
}

body {
    margin: 0px;
}

button {
    width: 100px;
    height: 48px;
    font-family: openSans;
    font-size: 16px;
    background-color: #6B7A8F;
    border-style: none;
    color: white;
}

input {
    width: 100px;
    height: 48px;
    font-family: openSans;
    font-size: 16px;
    background-color: #6B7A8F;
    border-style: none;
    color: white;
}

h1 {
    margin: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: openSans;
    font-weight: 400;
}

.departure-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 5px;
}

.departure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.departure-minutes {
    width: 100%;
}

.box {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: auto;
    margin-bottom: 4px;
}

.header {
    background-color: #6B7A8F;
    height: 110px;
}

.box1 {
    background-color: #FFD358;
}

.box2 {
    background-color: #F7882F;
    height: 2px;
}

.box3 {
    background-color: rgba(247, 136, 47, 0.82);
    height: 30px;
}

.departure-text {
    font-size: 16px;
}

#header-text {
    font-size: 22px;
    color: white;
}

.buttons {
    display: flex;
    flex: wrap;
}

.buttons-station-line {
    width: 50%;
    height: 100px;
    text-align: center;
    vertical-align: center;
}

#min {
    font-size: 20px;
}

@media screen and (min-width: 420px) {
    #min {
        font-size: 28px;
    }

    .checkbox-lines {
        width: 18px;
        height: 18px;
    }

    .checkbox-label {
        font-family: openSans;
        font-size: 20px;
        line-height: 36px;
    }

    .container {
        margin-bottom: 12px;
    }

    .departure-minutes {
        display: flex;
        flex: wrap;
    }

    .box {
        height: 84px;
        box-sizing: border-box;
    }

    .box1 {
        width: 72%;
    }

    .box2 {
        width: 1%;
    }

    .box3 {
        width: 27%;
    }

    .departure-text {
        font-size: 22px;
    }

    #header-text {
        font-size: 32px;
    }

    .header {
        height: 170px;
    }

    .buttons-station-line {
        height: 150px;
    }
}

@media screen and (min-width: 630px) {
    .checkbox {
        width: 88%;
    }

    .checkbox-lines {
        width: 18px;
        height: 18px;
    }

    .checkbox-label {
        font-family: openSans;
        font-size: 20px;
        line-height: 36px;
    }

    .container {
        width: 622px;
    }

    input {
        width: 120px;
        height: 54px;
        font-size: 18px;
    }

    #header-text {
        font-size: 38px;
    }
}
