@model RuterApp.Models.PickStationViewModel
<section class="container">
    
 <div >

  @using (Html.BeginForm("Show","Home"))
    {
        @Html.DropDownList("FromStation", new SelectList(Model.Stations))
    @Html.DropDownList("ToStation", new SelectList(Model.Stations))
        <button type="submit" class="btn ">Save</button>

    }
    </div>
   
</section>